
Data_TIL/Practice/data/chipotle.tsv
Data_TIL/Practice/data/auto-mpg.csv
Data_TIL/Practice/data/batter_stats_2017.csv
Data_TIL/Practice/data/drinks.csv
Data_TIL/Practice/data/netflix.csv
Data_TIL/Practice/data/picher_stats_2017.csv
Data_TIL/Practice/data/seoul-metro-2021.logs.csv
Data_TIL/Practice/data/seoul-metro-station-info.csv
Data_TIL/Practice/data/survey_results_public.csv
Data_TIL/Visualization/data/medical.csv
Data_TIL/Visualization/data/city.csv
