
Data_TIL/Practice/data/chipotle.tsv
Data_TIL/Practice/data/auto-mpg.csv
Data_TIL/Practice/data/batter_stats_2017.csv
Data_TIL/Practice/data/drinks.csv
Data_TIL/Practice/data/netflix.csv
Data_TIL/Practice/data/picher_stats_2017.csv
Data_TIL/Practice/data/seoul-metro-2021.logs.csv
Data_TIL/Practice/data/seoul-metro-station-info.csv
Data_TIL/Practice/data/survey_results_public.csv
Data_TIL/Visualization/data/medical.csv
Data_TIL/Visualization/data/city.csv
Project/MID_PROJECT/data/2.약국정보서비스 2022.12.csv
Project/MID_PROJECT/data/주민등록_인구_행정구역_시군구.csv
.DS_Store
ML_TIL/data/titanic/submission.csv
ML_TIL/data/fashion-mnist_train.csv
